 /* Your existing styles here */

 .menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 999;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

.slide-out-nav {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #333; /* Change this color */
    color: white;
    transition: left 0.3s ease-in-out, background-color 0.3s; /* Add background-color transition */
}

.slide-out-nav.active {
    left: 0;
    background-color: #817070; /* Change this color */
}

.slide-out-nav ul {
    list-style: none;
    padding: 0;
    margin: 100px 20px;
}

.slide-out-nav ul li {
    margin-bottom: 20px;
}

.slide-out-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.user-name {
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.content {
    margin-left: 270px; /* Adjust this to match the width of the navigation */
    padding: 20px;
}